@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reportes";
}

<header class="oca-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="display-5 fw-bold">
                    <i class="bi bi-file-earmark-bar-graph me-3"></i>
                    Reportes
                </h1>
            </div>
        </div>
    </div>
</header>

<div class="container py-4">
    <div class="text-center">
        <iframe title="Demo Report Funcionando"
                width="1024"
                height="612"
                src="https://app.powerbi.com/view?r=eyJrIjoiYmE5Nzg0MGEtN2Y0ZS00NTRiLTg3NWYtYmFlMzg2NzQyMjU0IiwidCI6IjYxYmU3NzJjLWQ2NDAtNDFiYi1iMDRhLTcxMzY0Y2UwYTk1MyIsImMiOjF9"
                style="border: none; max-width: 100%;"
                allowfullscreen="true">
        </iframe>
    </div>
</div>
