@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="account-content">
    @await Html.PartialAsync("_AccountContent")
</div>

<script>
    // function limpiarFiltros() {
    //     window.location.href = '@Url.Action("Index", "Rubro")';
    // }

    // function aplicarFiltros() {
    //     const rubroId = document.getElementById('rubroFilter').value;
    //     const mes = document.getElementById('mesFilter').value;
    //     const anio = document.getElementById('aniosFilter').value;


    //     // Construir URL con parámetros
    //     let url = '@Url.Action("Index", "Rubro")';
    //     const params = new URLSearchParams();

    //     if (rubroId) params.append('rubroTypeId', rubroId);
    //     if (mes) params.append('mes', mes);
    //     if (anio) params.append('anio', anio);


    //     // Mantener página actual
    //     params.append('pagina', 1);
    //     params.append('tamañoPagina', @ViewBag.TamañoPagina);

    //     if (params.toString()) {
    //         url += '?' + params.toString();
    //     }

    //     window.location.href = url;
    // }

</script>
