@using PresupuestoMVC.Models.DTOs
@using PresupuestoMVC.Models.Entities
@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="diary-content">
    @await Html.PartialAsync("_DiaryContent")
</div>

<script>

    const diaryConfig = {

        tamañoPagina: '@ViewBag.TamañoPagina'

    };

    document.addEventListener("DOMContentLoaded", () => {

        inicializarDiary();

    });

    window.urls = window.urls || {};

    window.urls.createGasto = '@Url.Action("Create", "Gasto", new { area = "Accounting" })';
    window.urls.getRubros = '@Url.Action("GetCategoriesbyDate", "Budget", new { area = "Accounting" })?date=';

</script>

