@using PresupuestoMVC.Models.DTOs
@using PresupuestoMVC.Models.Entities
@using PresupuestoMVC.Helpers
@using System.Globalization
@using PresupuestoMVC.Areas.Accounting.Data.Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Presupuesto";
    var rubros = ViewBag.Rubros as IEnumerable<CategoryResponseDto>;
    var meses = ViewBag.Meses as IEnumerable<MesViewModel>;
    var anios = ViewBag.Anios as IEnumerable<int>;
    bool deficit = ViewBag.Deficit;
    var paginacion = ViewBag.Paginacion as PaginacionRespuestaDto<BudgetGroupedDto>;
    var items = ViewBag.ItemCounter;
    var totalBudgets = ViewBag.totalBudgets;

    int totalPaginas = (int)Math.Ceiling((double)paginacion.TotalRegistros / ViewBag.TamañoPagina);
    int inicio = Math.Max(1, ViewBag.PaginaActual - 2);
    int fin = Math.Min(totalPaginas, ViewBag.PaginaActual + 2);
}

<div id="budget-content">
    @await Html.PartialAsync("_BudgetContent")
</div>

